@model ePro.ViewModels.ProductIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Product Details</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Product Name</th>
        
        <th></th>
    </tr>
    @foreach (var item in Model.Products)
    {
    string selectedRow = "";
    if (item.ProductListingID == ViewBag.ProductID)
    {
        selectedRow = "success";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
             </td>
           
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ProductListingID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductListingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductListingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductListingID })
            </td>

            @{ int prodid = item.ProductListingID;}

         </tr>  

    }
</table>


@if (Model.ComplianceForms != null)
{
    <h3>Compliance forms</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Compliance Type</th>
        </tr>
        @foreach (var item in Model.ComplianceForms)
        {
            string selectedRow = "";
            if (item.ComplianceFormID == ViewBag.complianceformID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { ComplianceFormID = item.ComplianceFormID })
                </td>
                <td>
                    @item.ComplianceFormID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ComplianceCategory.Name
                </td>
            </tr>
        }
    </table>
}
@if (Model.Compliances != null)
{
    <h3>
        Current compliance items completed
    </h3>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Description</th>
        </tr>
       
        @foreach (var item in Model.Compliances)
        {
            if(item.ComplianceItem !=null)
                    {

                      <tr>
                          <td>

                            @item.ComplianceitemsID
                          </td>
                        <td>
                     
                           @item.ComplianceItem.ItemName
                    
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                         <td>
                             @{bool blnflag = true;}
                             @{int intcounter = 0;}
                             @foreach (var a in ViewBag.productcp)
                             {
                                 if (a.ComplianceItemsID == item.ComplianceitemsID)
                                 {
                                     
                                     if (a.Checked == 1)
                                     { 
                                   
                                       
                                      @Html.ActionLink("Remove compliance", "Index", new { ComplianceFormID = item.ComplianceFormID, compid = item.ComplianceitemsID, enditem = item.ComplianceItem.EndItem })
                                       blnflag =false;
                                    
                                     }
                                    
                                     else
                                     {
                                        
                                         intcounter++;
                                         blnflag = true;

                                     }
                                 }

                             }

                         </td>
                          <td>
                              @if (@blnflag ==true)
                              {
                              @Html.ActionLink("Add compliance", "Index", new { ComplianceFormID = item.ComplianceFormID, compid = item.ComplianceitemsID, enditem = item.ComplianceItem.EndItem })
                              }

                          </td>
                           @if (item.ComplianceItem.EndItem == true && blnflag == false)
                           {
                               break;
                           }

                    </tr>
                    }
           
        }
    </table>
   
}    